pipeline/scriptpipeline.json
{
	"name": "scriptpipeline",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select * from batch16sc.sales4\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v1",
					"value": {
						"value": "@activity('Script1').output.resultSets[0].rows[0].category",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-19T11:52:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}